<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtmer.microteachingquality.mapper.ClazzMapper">
    <resultMap id="BaseResultMap" type="com.vtmer.microteachingquality.model.entity.Clazz">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="college" jdbcType="VARCHAR" property="college"/>
        <result column="major" jdbcType="VARCHAR" property="major"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, college, major, `name`,`type`
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from clazz
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from clazz
        where `name` = #{name,jdbcType=VARCHAR}
    </select>
    <select id="selectByKeyAndStatus" resultType="com.vtmer.microteachingquality.model.entity.Clazz">
        select
        <include refid="Base_Column_List"/>
        from clazz where id = #{id} and status = #{status}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from clazz
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.vtmer.microteachingquality.model.entity.Clazz"
            useGeneratedKeys="true">
        insert into clazz (college, major, `name`, `type`, `status`)
        values (#{college,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
                #{type,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.vtmer.microteachingquality.model.entity.Clazz" useGeneratedKeys="true">
        insert into clazz
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="college != null">
                college,
            </if>
            <if test="major != null">
                major,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="status != null">
                `status`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="college != null">
                #{college,jdbcType=VARCHAR},
            </if>
            <if test="major != null">
                #{major,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <insert id="insertEmptyData">
        insert into ${tableName}
        values ()
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.vtmer.microteachingquality.model.entity.Clazz">
        update clazz
        <set>
            <if test="college != null">
                college = #{college,jdbcType=VARCHAR},
            </if>
            <if test="major != null">
                major = #{major,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.vtmer.microteachingquality.model.entity.Clazz">
        update clazz
        set college  = #{college,jdbcType=VARCHAR},
            major    = #{major,jdbcType=VARCHAR},
            `name`   = #{name,jdbcType=VARCHAR},
            `type`   = #{type},
            'status' = #{status}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>